.profile {
  width: max-content;
  margin: auto;
  background-color: #42515a;
  box-shadow: 0 10px 90px #00000024;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
}
.avatar {
  position: relative;
  height: 140px;
}
.avatarImage {
  width: 130px;
  height: 130px;
  border-radius: 1000px;
  position: absolute;
  background-color: #fff;
  left: 50%;
  transform: translate(-50%, 5%);
  border: 8px solid #fd940a;
  box-shadow: 0 0 20px #00000033;
}
.avatarImage:hover {
  width: 135px;
  height: 135px;
  border: 8px solid #f8a73d;
}

.name {
  padding-top: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #fd940a;
}
.tag {
  font-size: 14px;
  color: #ffffff;
}
.location {
  margin-top: 10px;
  font-size: 14px;
}
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 0 20px;
}
.statsIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fd940a;
  color: #ffffff;
  font-size: 20px;
  margin: 10px 5px;
  border-radius: 5px;
}
.label {
  padding: 5px;
  color: #000000;
}
.quantity {
  padding: 5px;
  color: #ffffff;
  margin-left: 15px;
}
